.main-app {
  background: linear-gradient(239.26deg, #DDEEED 63.17%, #FDF1E0 94.92%);
  min-height: 100vh; /* Ensure the main-app container covers the full viewport height */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}

.chatbot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* height: 100%; */
  width: 100%;
  max-width: 600px;
  margin-top: 5rem;
  margin-bottom: 20px;
  overflow-y: auto;
}

.chat-messages {
  flex-grow: 1; 
  overflow-y: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.chat-messages::-webkit-scrollbar {
  display: none; /* Webkit (Safari, Chrome) */
}

.chat-bubble {
  max-width: 60%;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  clear: both;
  opacity: 0;
  animation: fadeIn 1.0s ease-in-out forwards;
  transition: transform 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bot {
  background-color: #f1f0f0;
  float: left;
}

.user {
  background-color: #dcf8c6;
  float: right;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f0f0;
  width: 100%;
  box-sizing: border-box;
}

.input-with-icon {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-with-icon input[type="text"] {
  flex-grow: 1;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  width: 90%;
}

.input-with-icon label {
  margin-left: 10px;
  cursor: pointer;
}

.input-with-icon label i {
  font-size: 20px;
  color: #999;
}