.main-app {
  background: linear-gradient(239.26deg, #DDEEED 63.17%, #FDF1E0 94.92%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.color-theme {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.chatbot-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.change-theme-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.chatbot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-top: 1rem;
  margin-bottom: 20px;
  overflow-y: auto;
  position: relative; 
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
  max-height: calc(100vh - 120px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px; 
  margin-bottom: 1rem;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-bubble {
  width: auto;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  clear: both;
  opacity: 0;
  animation: fadeIn 1.0s ease-in-out forwards;
  transition: transform 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bot {
  background-color: #f1f0f0;
  float: left;
}

.user {
  background-color: #dcf8c6;
  float: right;
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f0f0;
  box-sizing: border-box;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.input-with-icon {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-with-icon input[type="text"] {
  flex-grow: 1;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  width: 90%;
}

.input-with-icon label {
  margin-left: 10px;
  cursor: pointer;
}

.input-with-icon label i {
  font-size: 20px;
  color: #999;
}

.image-transition {
  opacity: 0;
  animation: fadeIn 1.0s ease-in-out forwards;
  transition: opacity 0.3s;
}

.image-transition img {
  transition: opacity 0.3s;
}
